# macOS
.DS_Store

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
.env.*
.venv/
venv/
*.log
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/
dist/
build/
*.local
*.env.local
*.env.development.local
*.env.production.local
*.env.test.local
